@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .my-list > li:hover {
    filter: brightness(1.5);
  }
  .custom-border-solid {
    border: solid 1px #333;
  }
  .active-button-on-hover:hover > div.product-inative {
    visibility: visible;
    display: flex;
  }
  .product-inative {
    display: none;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

li {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
