@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .my-list > li:hover {
    filter: brightness(1.5);
  }
  .custom-border-solid {
    border: solid 1px #333;
  }
  .active-button-on-hover:hover > div.product-inative {
    visibility: visible;
    display: flex;
  }
  .product-inative {
    display: none;
  }
}
